{{>sidebar}}


<main id="main" class="main">

<h3>Add Fire Fighter</h3>

<!-- Display error message if it exists -->
{{#if errorMessage}}
    <p class="alert alert-danger alert-dismissible fade show">{{ errorMessage }}</p>
{{/if}}

<!-- Display success message if it exists -->
{{#if successMessage}}
    <p class="alert alert-success alert-dismissible fade show">{{ successMessage }}</p>
{{/if}}

<div class="tab-pane p-3 border border-5" id="profile-change-password">
        <!-- Change Password Form -->
        <form action="{{ baseUrl }}/admin/fire-fighter/add/action" method="post" enctype="multipart/form-data">

        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-3 col-form-label">Name *</label>
            <div class="col-md-8 col-lg-9">
            <input name="name" type="text" class="form-control" id="name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="username" class="col-md-4 col-lg-3 col-form-label">User Name</label>
            <div class="col-md-8 col-lg-9">
            <input name="username" type="text" class="form-control" id="username">
            </div>
        </div>

        <div class="row mb-3">
            <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone Number *</label>
            <div class="col-md-8 col-lg-9">
            <input name="phone" type="number" class="form-control" id="phone" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="email" class="col-md-4 col-lg-3 col-form-label">Email *</label>
            <div class="col-md-8 col-lg-9">
            <input name="email" type="email" class="form-control" id="email" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="password" class="col-md-4 col-lg-3 col-form-label">Password *</label>
            <div class="col-md-8 col-lg-9">
            <input name="password" type="password" class="form-control" id="password" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="image" class="col-md-4 col-lg-3 col-form-label">Image</label>
            <div class="col-md-8 col-lg-9">
            <input name="image" type="file" class="form-control" id="image">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        </form>

</div>
</main>